html {
	background-color: black;
	color: white;
	padding-left: 28px;
}
.chicken {
	width: 100%;
	text-align: center;
}
.sr {
	text-align: right;
}
.red {
	color: red;
	font-size: 26px;
}
.asaftiwabumpo {
	height: 28px;
	width: 28px;
}
.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#logo-cell {
	width: 40%;
}
th {
	width: 20%;
	padding-right: 18px;
}
#logo-in-head {
	height: 70px;
	width: 250px;
}
#big-logo {
	height: 400px;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a:hover {
	color: red;
}
a:visited {
	color: grey;
	opacity: 90%;
}
