html {
	background-color: black;
	color: white;
}
.red {
	color: red;
	font-size: 26px;
}
.asaftiwabumpo {
	height: 28px;
	width: 28px;
}
.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#logo-in-head {
	height: 28px;
	width: 88px;
}
#big-logo {
	height: 400px;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a:hover {
	color: red;
}
a:visited {
	color: grey;
	opacity: 90%;
}
