@font-face{
	font-family: Hind-Regular;
	src: url(Hind-Regular.ttf) format('ttf'),
	url(Hind-Regular.woff) format('woff'),
	url(Hind-Regular.woff2) format('woff2');
}
@font-face{
	font-family: Titillium;
	src: url(TitilliumWeb-Bold.ttf) format('ttf'),
	url(TitilliumWeb-Bold.woff) format('woff'),
	url(TitilliumWeb-Bold.woff22) format('woff2');
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Titillium Web', sans-serif;
	font-size: 40;
}
p, a{	
	font-family: 'Hind', sans-serif;
}
html {
	background-color: black;
	color: white;
	padding-left: 28px;
}
body {
	margin: 0 auto;
	width: 95%;
	max-width: 1120px;
	min-width: 840px;
	background-color: rgb(255,39,39);
}
footer {
	float: bottom;
	text-align: center;
	border: black;
	clear: both;
}
.chicken {
	width: 100%;
	text-align: center;
	border-color: white;
	border-width: 12px;
	white-space: nowrap;
	background-color: white;
	float: right;
	outline-width: 1px;
	outline-style: solid;
	outline-color: black;
	outline: 1px solid black; 
}
a{
	text-decoration: none;
}
.sr {
	text-indent: 30%;
}
.red {
	color:black;
	font-size: 35px;
}
.asaftiwabumpo {
	height: 28px;
	width: 28px;
	vertical-align: middle;
	padding-left: 7px;
}
.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
th {
	width: 20%;
	padding-right: 28px;
	white-space: nowrap;
}
#plzhelp{
	column-span: 3;
	-ms-grid-row-span: 3;
}
#logo-cell {
	width: 40%;
}
#logo-in-head {
	height: 70px;
	width: 20%;
	float: left;

}
#big-logo {
	height: 400px;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#sm {
	text-align: center;
}
a {
	color: rgb(22, 99, 22);
}
a:hover {
	color: red;
}
/* Grid Rows Styles */
div.row {
	clear: both;
 }
 div.row::after {
	clear: both;
	content: "";
	display: table;
 }
 /* Grid Columns Styles */
 div[class^="col-"] {
	float: left;
 }
 div.col-1-1 {
	width: 100%;
 }
 div.col-1-2 {
	width: 50%;
}
#elements{
	height:120px;
	width: 140px;
	display: block;
}

#PokeWeb, #Assist{
	background-color: white;
	color: black;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 25px;
	padding-right: 25px;
	outline-width: 1px;
	outline-style: solid;
	outline-color: black;
	outline: 1px solid black; 
}
div[class^="col-"]{
	float: left;
	display: block;

}
div.col1-1, div.col1-2{
	width: 75%;
}
p{
	font-size: 20px;
}