h1 {
	font-size: 40px;
	text-align: left;
	padding-left: 40px;
}
.pokemon-image {
	height: 240px;
	width: 280px;
	vertical-align: middle;
	float: center;
}
.type-image {
	width: 60px;
	height: 28px;
	vertical-align: center;
}
